*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:is(h1,h2,h3,h4,h5,h6){
    text-align: center;
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #d9b99b;
}
/*this is used to make the even rows that color */
tr:nth-child(even) {
    background-color: #e4d5b7;
}
tr:hover {
    background-color: #eed9c4;
}
h1, h2 {
    color: #333;
}